<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplication​Preferred​Default​Scene​Session​Role</key>
	<string>UIWindow​Scene​Session​Role​Immersive​Space​Application</string>
</dict>
</plist>
